#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;

	--bg-color: #15202b;
	--t-blue: #1d9bf0;
	--t-grey-blue: #263340;
	--side-color: #1d2732;
	--t-blue-disabled: #1e5d8d;
}
